.formComponent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.formWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.formRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 45px;
  margin-bottom: 20px;
}

.formRow:last-child {
  margin-right: 0;
}

.formRow input {
  font-size: 1.2em;
  border: 0;
  border-radius: 5px;
  outline: none;
  padding: 3px;
  background-color: olive;
  color: #fff;
}

.subTitle {
  width: 100%;
  text-align: center;
  font-size: 2em;
  margin-bottom: 2em;
}

.dateWrapper label {
  font-size: 1.5em;
  margin-right: 15px;
}

@media (max-width: 650px) {
  .formWrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .formRow {
    margin-right: 5px;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .formComponent {
    align-items: center;
  }

  .formWrapper {
    justify-content: center;
    margin-bottom: 20px;
  }

  .formRow input {
    font-size: 12px;
    padding: 1px;
  }

  .subTitle {
    font-size: 16px;
  }

  .dateWrapper label {
    font-size: 12px;
    margin-right: 5px;
  }
}
