.tableWrapper {
  margin-bottom: 20px;
}

.resultWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.resultWrapper h2 {
  width: 100%;
  text-align: center;
}
