.tableCell {
  width: 10px;
  border: 1px solid #fff;
  padding: 0;
}

.tableFullCell td {
  width: 10px;
  border: 0;
  padding: 0;
  background-color: olive;
}

.tableFullCell {
  width: 10px;
  border: 0;
  padding: 0;
}

.tableFullCellRest {
  border: 0;
  padding: 0;
  background-color: olive;
}

.rowNumber.rowNumber {
  font-size: 9px;
  background-color: transparent !important;
}
